.ipynb_checkpoints/*
.DS_Store
no_compartment/mu/utils/__pycache__/
logs/
run.sh
no_compartment/x_gamma_delta/utils/__pycache__/
compartment/utils/__pycache__/
compartment/x_gamma_delta/utils/__pycache__/
compartment/gamma_delta/utils/__pycache__/*
no_compartment/gamma_delta/utils/__pycache__/
../mu/utils/__pycache__/
compartment/mu/utils/__pycache__/
